@import 
"https://use.fontawesome.com/releases/v5.13.0/css/all.css";

* {
    box-sizing: border-box;
 }

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

 body {
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #5A4C57;
    letter-spacing: 0.2em;
    background-color: #fafafa;
 }
 header {
    font-family: "Courgette";
    padding: 14px 1% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    border-bottom: 0.4px solid #e0e0e0;
    box-shadow: -5px -7px 20px 0px rgb(0 0 0 / 50%);
    z-index: 1;
 }


 h1 {
    margin: 0; padding: 0;
    font-size: 20px;
 }

 h2 {
    font-family: "Courgette";
    text-align: center;
    font-size: 4em;
    margin: 0;
    text-shadow: 6px 4px 0px #FEF6B7;
 }

 a {	
    text-decoration: none;
    color: #5a4c57;
 }
 nav {
    margin: 0 0 0 auto;
    display: flex;
 }
 ul {
    list-style: none;
    margin: 0;
 }
 li {
    font-size: 14px;
 }

 button {
  background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
 }
 section {
    padding: 10%;
    position: relative;
    z-index: 0;
 }

 p {
  line-height: 200%;
 }

 #works,#skills,footer {
  background-color: #e5e4de;
 }

 .section-title {
  display: flex;
  justify-content: center;
 }

 .ja-title {
  padding: 3%;
 }

 .description {
  text-align: center;
 }

 .custom-shape-divider-top-1673275693 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1673275693 svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 93px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1673275693 .shape-fill {
  fill: #E5E4DE;
}
.custom-shape-divider-bottom-1673275628 {
  position: absolute;
  bottom: 99%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1673275628 svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 93px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1673275628 .shape-fill {
  fill: #E5E4DE;
}

#profile, #contact {
  padding-bottom: 0;
}
 /* ヘッダー */
 #splash {
position: fixed;
z-index: 999;
width: 100%;
height: 100%;
background:#333;
text-align:center;
color:#fff;
}

#splash_text {
position: absolute;
top: 50%;
left: 50%;
  z-index: 999;
width: 100%;
transform: translate(-50%, -50%);
color: #fff;
}

#splash_text svg{
  height: 2px;
}

.nav-menu {
  font-size: 20px;
    font-weight: 600;
    color: #5a4c57;
    padding-bottom: 5px;
    margin-left: 30px;
    position: relative;
    text-align: center;
}

.nav-menu > span {
  font-size: 4px;
  display: block;
}

.nav-menu::before {
  background: #FEF6B7;
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.nav-menu:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}

.hamburger {
    position: absolute;
    right: 20px;
    top: 24px;
    width: 50px;
    height: 32px;
    cursor: pointer;
    z-index: 300;
  }
  
  .hamburger__line {
    position: absolute;
    width: 36px;
    height: 2px;
    right: 0;
    background-color: #5A4C57;
    transition: all 0.5s;
  }
  
  .hamburger__line--1 {
    top: 1px;
  }
  
  .hamburger__line--2 {
    top: 10px;
  }
  
  .hamburger__line--3 {
    top: 20px;
  }
  
  .open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
  }
  
  .open .hamburger__line--2 {
    opacity: 0;
  }
  
  .open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
  }
  
  .sp-nav {
    position: fixed;
    right: -100%;
    top: 0;
    width: 16%;
    height: 100vh;
    background-color: #fff;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto;
  }
  
  .open .sp-nav {
    right: 0;
  }
  
  .sp-nav > ul {
    margin: 120px 0;
    padding: 0;
  }

  .nav-li > li {
    margin: 30px;
  }
  
  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #00273f;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
  }
  
  .open .black-bg {
    opacity: 0.3;
    visibility: visible;
  }

  /* フッター */
footer {
  display: flex;
  height: 88px;
  justify-content: space-between;
}
small {
  height: 20px;
  margin: 35px;
}

#page-top{
  width: 50px;
  height: 50px;
  position: relative;
  margin: 20px;
  background: #5A4C57;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
  }

  #page-top::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 0;
    border-top: solid 2px #e5e4de;
    border-right: solid 2px #e5e4de;
    position: absolute;
    top: 50%;
    left: 16px;
    margin-top: -4px;
    transform: rotate(-45deg);
  }
/* ファーストビュー */
#topview {
    background-image: url(../img/topview.png);
    background-size: cover;
    content: unset;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.top-title {
    width: 74%;
}

/* プロフィール */
#profile > .section-content {
  height: 27rem;
  margin-bottom: 16%;
}

.slider {
    position:relative;
    z-index: 1;
    padding: 0;
    height: 100%;
  }
  
  .prof-wrapper {
    display: flex;
    margin: 4% 8%;
    align-items: center;
  }

  .prof-wrapper > img {
    width: 40%;
    height: 40%;
  }
  
  .prof-content {
    width: 60%;
  }

  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    height: 100%;
    padding: 0;
}
  
  .slick-prev, 
  .slick-next {
      position: absolute;
      z-index: 3;
      top: 48%;
      cursor: pointer;
      outline: none;
      border-top: 2px solid #5A4C57;
      border-right: 2px solid #5A4C57;
      height: 25px;
      width: 25px;
  }

  .slick-prev:hover, 
  .slick-next:hover {
    border-top: 3px solid #5A4C57;
    border-right: 3px solid #5A4C57;
  }
  
  .slick-prev {
      left:2.5%;
      transform: rotate(-135deg);
  }
  
  .slick-next {
      right:2.5%;
      transform: rotate(45deg);
  }
    
  .slick-dots {
    position: relative;
    z-index: 3;
    text-align: center;
    display: block;
    padding: 0;
  }
  
  
@media screen and (min-width:1000px) {
    .slick-dots {
      margin-top: 30px;
    }
  }
  
  .slick-dots li {
      display:inline-block;
      margin:0 5px;
  }
  
  .slick-dots button {
    color: transparent;
    outline: none;
    width: 40px;
    height: 10px;
    display: block;
    border-radius: 4px;
    background: #fff;
    border: 0.5px solid #5A4C57;
  }
  
  .slick-dots .slick-active button{
      background:#5A4C57;
  }

/* 実績 */
.tab{
	display: flex;
	flex-wrap: wrap;
}
.tab-menu{
	display: block;
	background:#ddd;
	margin:0 2px;
	padding:10px 20px;
  color: #5A4C57;
  font-weight: 600;
}
.tab li.active .tab-menu{
	background:#fff;
}

.tab-menu >img {
  width: 20px;
  position: relative;
  vertical-align: bottom;
}

.area {
	display: none;
	opacity: 0;
	background: #fff;
	padding:50px 20px;
}

.area.is-active {
    display: block;
    animation-name: displayAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/* スキル */
.accordion-area{
  list-style: none;
  width: 100%;
}

.accordion-area li{
  margin: 10px 0;
}

.accordion-area section {
border: 1px solid #ccc;
}

.skill-title {
  position: relative;
  cursor: pointer;
  font-size:1rem;
  padding: 3% 3% 3% 50px;
  transition: all .5s ease;
  background-color: #c1c1c1;
  margin-bottom: 0;
}

.skill-title::before,
.skill-title::after{
  position: absolute;
  content:'';
  width: 15px;
  height: 2px;
  background-color: #333;
  
}
.skill-title::before{
  top:48%;
  left: 15px;
  transform: rotate(0deg);
  
}
.skill-title::after{    
  top:48%;
  left: 15px;
  transform: rotate(90deg);

}
.skill-title.close::before{
transform: rotate(45deg);
}

.skill-title.close::after{
transform: rotate(-45deg);
}

.box {
  display: none;
  background: #f3f3f3;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
  height: 4em;
}

table tr:nth-child(odd){
  background-color: #eee
}

.skill-example {
  color: #0b7cc2; 
  border-bottom: 1px solid #0b7cc2; 
}

.skill-image {
  width: 100%;
}

#thumbnail,#ovice {
	display: none;
}

.skill-description {
  margin: 16px;
  font-size: 12px;
}

.modaal-container {
  max-width: 600px;
}

.modaal-content-container {
  padding: 0;
  }
/* コンタクト */
#contact > .section-content {
  display: flex;
}

.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

#wrapper{
  width: 70px;
  height: 80px;
  margin: 40px auto;
  -webkit-perspective: 200;
  -webkit-perspective-origin: 50% 0;   
  -moz-perspective: 200;
  -moz-perspective-origin: 50% 0;
}
.anvelopebg{
  width: 70px;
  height: 40px;
  background-color: #e9b004;
  position: absolute;
  margin-bottom: 0;
  z-index: 3;
}
.anvelope{
  width: 0px;
  height: 0px;
  position: relative;

  margin-bottom: 0;
  border-left: 35px #ffc000 solid;
  border-bottom: 20px #ffcc00 solid;
  border-right: 35px #ffcc00 solid;
  border-top: 20px rgba(0,0,0,0) solid;

  box-shadow: 0px 4px 0px 0px rgba(24,116,86,1);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(24,116,86,1);
  z-index: 4;
   
}
.letter{
  width: 54px;
  height: 44px;
  background-color: #e4e5d1;
  position: relative;
  top:-95px;
  left: 8px;
  z-index: 3;

}
.letter:after{
  content: "";
  position: absolute;
  width: 32px;
  height: 6px;
  background-color: #9bbeb2;
  top:6px;
  left: 6px;
}
.letter:before{
  content: "";
  position: absolute;
  width: 21px;
  height: 6px;
  background-color: #9bbeb2;
  top:15px;
  left: 6px;
}
.opener{
  position: relative;
  width: 0;
  height: 0;
  border-left: 35px rgba(0,0,0,0) solid;
  border-bottom: 31px #e9b004 solid;
  border-right: 35px rgba(0,0,0,0) solid;
  top: -71px;
  z-index: 2;
  transform-origin:0 100%;
  -ms-transform-origin:0 100%; /* IE 9 */
  -webkit-transform-origin:0 100%; /* Safari and Chrome */
}

@keyframes letteranim
{
  0%{top:-95px;}
  50%{top:-71px;}
  100%{top:-71px;}
}
@-webkit-keyframes letteranim
{
  0%{top:-95px;}
  50%{top:-71px;}
  100%{top:-71px;}
}

@keyframes openanim
{
  0%{-webkit-transform: rotateX(0deg);}
  50%{-webkit-transform: rotateX(0deg);z-index :2;}
  100%{-webkit-transform: rotateX(180deg);z-index :5;}
}
@-webkit-keyframes openanim
{
  0%{-webkit-transform: rotateX(0deg);}
  50%{-webkit-transform: rotateX(0deg);z-index :2;}
  100%{-webkit-transform: rotateX(180deg);z-index :5;}
}
#wrapper:hover .letter{
  animation: letteranim 1s ease-out 0s 2 alternate;
  -webkit-animation: letteranim 1s ease-out 0s 2 alternate; /* Safari and Chrome */
}
#wrapper:hover .opener{
  animation: openanim 1s ease-out 0s 2 alternate;
  -webkit-animation: openanim 1s ease-out 0s 2 alternate; /* Safari and Chrome */
}